body {background-color:black;
       width:960px;
       margin-left:auto;
       margin-right:auto;
       border-width:10px;
       border-style:solid;
       border-radlus:5px;
       padding-left:20px;
       padding-right:20px
}
haiyang/haiyang1.jpg {
    border-width:5px;
    border-style:solid;
    border-color:pink;
    border-radlus:10px
}
img {
    float:left;
} 

haiyang/haiyang1.jpg-end {
   clear:both;
}
h1 {color:blue}
p {color:white}
h2 {color:pink}
p {color:white}
h3 {color:yellow}
p {color:white}
h4 {color:purple}
h5 {color:red}
p {color:white}
